

.wrap{
    color: #fff;
    
}

.fire{
    display: inline-block;
    background:url('../../assets/imgs/fire.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: fire 2.5s linear infinite ;
}

@keyframes fire{
    0%{background-position: 50%;}
    50%{background-position: 100%;}
    100%{background-position:  50% 100%;}
}