@font-face {
    font-family: 'RobotoMono';
    src: url('./assets/fonts/RobotoMono-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Doom';
    src: url('./assets/fonts/AmazDooMLeft.ttf') format('truetype');
}

@font-face {
    font-family: 'Turnpike';
    src: url('./assets/fonts/Turnpike.ttf') format('truetype');
}



* {
    font-family: 'RobotoMono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #CEC6C6;
    background: -moz-linear-gradient(left, #CEC6C6 0%, #000000 50%, #CEC6C6 100%);
    background: -webkit-linear-gradient(left, #CEC6C6 0%, #000000 50%, #CEC6C6 100%);
    background: linear-gradient(to right, #CEC6C6 0%, #000000 50%, #CEC6C6 100%);
    background-image: url('./assets/imgs/doom-fundo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100%;
}

h1 {
    font-size: 4em;
}


